body {
    background-color: var(--white);
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    padding-top: 40px;
}

header div#header {
    display: flex;
    margin: 0 90px;
    justify-content: flex-start;
    align-items: center;
}

header div#header button img {
    margin-right: 10px;
}

/* MAIN */
main div#main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 90px;
}

main div#main-content div#main-text {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

main div#main-content div#main-text div#main-links{
    margin-top: 50px;
}

main div#main-content div#main-text div#main-links img{
    width: 50px;
    height: 100%;
}

main div#main-content div#main-text div#main-links img:hover{
    transform: scale(1.1);
}

@keyframes fading_scale {
    from {
        opacity: 0;
        transform: scale(0.9);
        transform: translateX(-55px);
    }
    to {
        opacity: 1;
        transform: scale(1);
        transform: translateX(0);
    }
}

main div#main-content div#main-form {
    animation-name: fading_scale;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

main div#main-content div#main-form form {
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
    padding: 40px;
    border-radius: 10px;
}

main div#main-content div#main-form form button{
    align-self: center;
}

main div#main-content div#main-form form div input {
    margin-bottom: 20px;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main div#main-content div#main-form form div input:focus {
    border: 3px solid rgb(206, 63, 250);
}

main div#main-content div#main-form form div textarea {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main div#main-content div#main-form form div textarea:focus {
    border: 3px solid rgb(206, 63, 250);
}

main div#main-content div#main-form form div input:nth-child(3n+0) {
    height: 200px;
}

input[type="text" i] {
    padding-left: 20px;
}

input[type="email" i] {
    padding-left: 20px;
}

input[type="textarea" i] {
    padding-left: 20px;
}