@media screen and (max-width: 1000px) {
    /* HEADER */
    header nav#header div div#navbarNavAltMarkup div#links-header a {
        margin-top: 10px;
        text-align: right;
    }
    /* FOOTER */
    footer {
        height: auto;
    }
    footer div#footer{
        display: grid;
        text-align: center;
    }
    footer div#footer div#logo-footer {
        justify-self: center;
    }
    footer div#footer div ul {
        padding: 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1100px) {
    /* MAIN */
    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    main div#apresentacao-main {
        margin: 0;
    }
    main div#perfil-main {
        margin-bottom: 40px;
    }
    /* SECTION */
    section {
        margin: 150px 90px 150px 90px;
        text-align: -webkit-center;
    }
    /* ARTICLE */
    article {
        margin: 150px 90px 150px 90px;
    }
    article div#title-conhecimento {
        text-align: -webkit-center;
    }
}

@media screen and (max-width: 600px) {
    /* HEADER */
    header nav#header div div#navbarNavAltMarkup div#links-header a {
        margin-top: 20px;
        font-size: 20px;
    }
    header nav#header {
        padding: 40px 20px;
    }
    header nav#header div div#image-header {
        max-width: 100px;
    }
    /* MAIN */
    main {
        margin: 60px 20px;
        display: flex;
        justify-content: space-between;
    }
    main div#apresentacao-main {
        display: grid;
        width: auto;
        margin-right: 0;
    }
    main div#apresentacao-main span.title{
        font-size: 35px;
        line-height: 50px;
    }
    main div#apresentacao-main span.sub-title{
        font-size: 25px;
        line-height: 30px;
    }
    /* SECTION */
    section {
        margin: 50px 20px 50px 20px;
    }
    /* ARTICLE */
    article {
        margin: 0 20px 50px 20px;
    }
    article div#box1-article span {
        line-height: 45px;
    }
    article div#box2-article span {
        line-height: 45px;
    }
    
}