@media screen and (max-width: 600px) {
    /* HEADER */
    header div#header {
        margin: 0 20px;
    }
/* MAIN */
    main {
        margin: 0px 20px 40px 20px;
        align-items: center;
    }
    main div#card span.title {
        font-size: 35px;
        line-height: 50px;
    }
}